<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <pluginGroups>
        <!-- pluginGroup
         | Specifies a further group identifier to use for plugin lookup.
        <pluginGroup>com.your.plugins</pluginGroup>
        -->
    </pluginGroups>

    <proxies>

    </proxies>

    <servers>
        <!--enable this for deploying to maven cnetral server>
            <id>ossrh</id>
            <username>XXXXX</username>
            <password>XXXXX</password>
        </server---->
              <server>
  <id>dev-azure-com-chandra-prakash-reddy-chandra-prakash-reddy</id>
  <username>chandra-prakash-reddy</username>
  <!-- Treat this auth token like a password. Do not share it with anyone, including Microsoft support. -->
  <!-- The generated token expires on or before 1/27/2020 -->
  <password>ijuajlteogxbfrimz42jlceseve4fllakjuqda6a3rcg74t73mxq</password>
   </server>
    </servers>


    <mirrors>

    </mirrors>


    <profiles>
              <!--enable this for deploying to maven cnetral  profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.passphrase>XXXXX</gpg.passphrase>
            </properties>
        </profile-->
    </profiles>



</settings>
